.content {
  max-width: 35%;
  font-size: large;
  text-align: justify;
  color: black;
}

.content-heading {
  font-family: "Alegreya", serif;
  margin: 0.75em 0;
  font-weight: 800;
  font-size: xx-large;
}

.content-body {
  margin: 1em 0;
  font-family: "Alegreya", serif;
}
