.navbar-wrapper {
  width: 100vw;
  position: sticky;
  text-align: center;
}

.title {
  font-family: "Alegreya", serif;
  font-size: 2.5em;
  font-weight: 800;
}

.navigation {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
}
